{% for item in Groups | dict2items %}
{% if item.value.sudoer -%}
%{{ item.key }} ALL=(ALL) ALL
{% endif -%}
{% endfor %}

{% for item in users | list  %}
{% if item.value.sudoer -%}
{{ item }} ALL=(ALL) ALL
{% endif -%}
{% endfor %}
